<h3>{{viewTitle}}</h3>
<form action='/employee' method="post" autocomplete="off">
    <input type="hidden" name="_id" value="{{employee.id}}">
    <div class="form-group">
        <label>Name:</label>
        <input type="text" class="form-control" name="name" placeholder="Name" value="{{employee.name}}">
    </div>
    <div class="form-group">
        <label>Job Title:</label>
        <input type="text" class="form-control" name="jobTitle" placeholder="Job Title" value="{{employee.jobTitle}}">
    </div>
    <div class="form-group">
        <label>Email ID:</label>
        <input type="text" class="form-control" name="emailID" placeholder="Email ID" value="{{employee.emailID}}">
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <button type="submit" class="btn btn-info">Submit</button>
            <a class="btn btn-secondary" href="/employee/list">View All</a>
        </div>
    </div>
</form>